<!--
<div>
    <div id="wrap">
        <div id="left_col" ui-view="lhp"></div>
        <div id="right_col" ui-view="rhs"></div>
    </div>
</div>
-->

<style type="text/css">
    #wrap {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0 auto;
    }
    #left {
        float: left;
        width: 10%;
        height: 100vh;
        background-color: #59b1d8;
        font-family: "Lucida Console", Monaco, monospace;
        font-size:large;
    }

    #right {
        float: right;
        width: 90%;
        height: 100vh;
        background-color: #8c8c8c;
    }
</style>


<div id="wrap">
    <div id="left" ui-view="lhp"></div>
    <div id="right" ui-view="rhs"></div>
</div>


