<style type="text/css">
    #wrap {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    #left {

        float: left;
        width: 10%;
        /*background-color: #59b1d8;*/
        font-family: "Lucida Console", Monaco, monospace;
        font-size:large;
    }

    #right {
        float: right;
        width: 90%;
        /*
        background-color: #8c8c8c;
        height: 100%;
        */
    }
</style>

<div id="wrap">
    <div id="left" ui-view="lhp"></div>
    <div id="right" ui-view="rhs"></div>
</div>


